.thn_title{
    margin-bottom: 20px;
}
.thn_col4{
    padding-left: 0px;
    padding-right: 0px;
}
.class_table{
    margin-bottom: 0px;
}
.class_title{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}
.class_content{
    padding-left: 0px;
    padding-right: 0px;
}
.class_search{
    width: auto;
}
.class_search_1,.class_test_search ,.class_test_search1{
    padding-right:0px;
}
.thn_table td{
   vertical-align: middle !important;
}