body{
    font-family: 'Arial',sans-serif;
    color: rgb(20,20,20);
    word-wrap: break-word;
    line-height: 1.35;
}
a{
    text-decoration: none !important;
}
.thn_content a{
    text-decoration: none;
}
.thn_font_size{
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.35;
}
.navbar{
    border-radius: 0px;
}
.panel{
    border-radius: 0px;
}
.thn_hr{
    border-top:1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin: 0px 0px 20px 0px;
    padding: 7px 0px;
}
.thn_image{
    margin-bottom: 20px;
}
.thn_navbar-brand{
    padding-top: 7px;
}
.thn_menu_bottom{
    font-weight:bold;
}
.thn_article_content{
    font-size: 1.1em;
}
#footer{
    background-color: #161616;
}
.footer_top{
    font-size: 13px;
}
.footer_top h4{
    color: #FFFFFF;
}
.footer_top ul{
    margin-top: 50px;
}
.footer_top ul li{
    padding: 10px 0px;
    color: #6c6c6c;
    font-weight: bolder;
}
.footer_top .thn_col4,.thn_col8{
    padding-left: 0px
}
.thn_footer_line{
    border-top: 1px solid #6c6c6c;
}
.footer_bottom{
    height: 50px;
    padding: 15px 0px 0px 0px;
    color: #6c6c6c;
}

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .thn_content{
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}